* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0; 
}

header {
    width: 100%;
    background-color: #1F2937; 
    display: flex; 
    justify-content: center;
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 0 9rem; 
}

nav span {
    font-size: 1.6rem;
    color: #3882F6;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #E5E7EB;
} 

/* Hero */ 

.hero {
    width: 100%;
    background-color: #1F2937;
    display: flex; 
    justify-content: center;
    color: #E5E7EB;
}

.hero-container {
    width: 85%;
    padding: 8rem 9rem;
    display: flex;
}

.hero .img-container{
    width: 55rem; 
    height: auto;
    background-color: grey;
    background: url(../imgs/roko-labrovic-k_2yK3NCLx0-unsplash.jpg) center center / cover no-repeat;
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}

.hero-text p {
    font-size: 1.2rem;
    width: 90%;
}

.hero-text button {
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem;
    background-color: #3882F6;
    color: #E5E7EB;
}

/* Services */ 

.services {
    width: 100%;
    padding: 0rem 0rem 2rem;
}

.services h2 {
    text-align: center;
    font-size: 2.3rem;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 3rem;
}

.services-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.services-container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.service {
    width: 11rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service p {
    text-align: center;
    font-size: 1.2rem;
}

.img-placeholder1 {
    height: 10rem;
    width: 100%;
    background: url(../imgs/james-dant-b-ICQv4ankE-unsplash.jpg) center center / cover no-repeat;
    border-radius: 0.5rem;
}

.img-placeholder2 {
    height: 10rem;
    width: 100%;
    background: url(../imgs/maksim-shutov-H8vhhepiiaU-unsplash.jpg) center center / cover no-repeat;
    border-radius: 0.5rem;
}

.img-placeholder3 {
    height: 10rem;
    width: 100%;
    background: url(../imgs/nguy-n-hi-p-XnghWOMDuQs-unsplash.jpg) center center / cover no-repeat;
    border-radius: 0.5rem;
}

.img-placeholder4 {
    height: 10rem;
    width: 100%;
    background: url(../imgs/anukrati-omar-5dhSpwJcgE8-unsplash.jpg) center center / cover no-repeat;
    border-radius: 0.5rem;
}

/* mission */ 
.mission {
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.mission-container {
    width: 50%;
    text-align: center;
}


.mission-container p {
    font-size: 2.2rem;
    color: #1F2937;
    font-weight: 300;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.mission-container span {
    font-size: 1.2rem;
    font-weight: bold;
}

.author-container {
  display: flex;
  justify-content: flex-end;
}

/* appointment */ 
.appointment {
    width: 100%;
    background-color: white;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.appointment-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 0.5rem;
    width: 70%;
    padding: 2rem;
}

.appointment-text {
    width: 80%;
    margin-left: 4rem;
}

.appointment-container span {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5rem 0 0;
}

.appointment-container p {
    margin-top: 0;
    font-size: 1.2rem;
    width: 90%;
}

.appointment-container button {
    color: #E5E7EB; 
    background-color: #3882F6;
    border: 3px solid #E5E7EB;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin-right: 5rem;
    width: 80%;
}

/* footer */ 
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: #1F2937;
    color: #E5E7EB;
}